<!DOCTYPE html>
<html>
<head>
  <title>Personal Portfolio</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
  
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="nav-area">
      <div class="sitename"> Personal Portfolio</div>
  </div>

  <div class="profile">
     <img src="profile.jpg" style=" height: 300px; width: 300px; margin-left: 100px; margin-top: 30px">

    <div class="text1"> Hello, Welcome to my portfolio. <br>Im' Fediric V. Acosta a Future <br> Developer and Programmer.</div>

    
  </div>

<div class= "aboutme">
  <h4> About ME</h4>
  <br><br>
  <p>I'm Fediric V. Acosta from BSIT-3C Currently resident of Tacloban city im 20 year old.<br> Studying in Eastern Visayas State University taking Bachelor of Science in Information Technology</p>
  <br>
</div>
  <div class="Contact">
    <h2 style="margin-left: 25%">Contact Me: </h2>

    <a href="https://web.facebook.com/fediric.acosta.1/" target="_BLANK" style="margin-left:25%; font-size: 50px"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    
<pre style="margin-left: 25%; font-size: 13px">
Email: fediric.acosta@evsu.edu.ph
</pre>
</div>

</body>
</html>
